<div class="print-content">
    <img id="img-frm" src="../../../assets/img/frm-issue.png" style="width: 21cm;" >

    <span [style]="'position: absolute; top: 1.9cm; left:  17cm'">{{code}}</span>
    <span [style]="'position: absolute; top: 3.1cm; left:  4.7cm'">{{department}}</span>
    <span [style]="'position: absolute; top: 4cm; left:  3.5cm'">{{caller}}</span>
    <span [style]="'position: absolute; top: 4.5cm; left:  4.6cm'">{{phoneno}}</span>
    <span [style]="'position: absolute; top: 3.55cm; left:  4.7cm'">{{location}}</span>
    <span [style]="'position: absolute; top: 3.55cm; left:  14.3cm'">{{code}}</span>
    <span [style]="'position: absolute; top: 3.1cm; left:  8.2cm'">{{created}}</span>
    <span [style]="'position: absolute; top: 3.6cm; left:  8.2cm'">{{time}}</span>
    <span [style]="'position: absolute; top: 4.5cm; left:  12.3cm'">{{created}}</span>
    <span [style]="'position: absolute; top: 4.5cm; left:  14.9cm'">{{time}}</span>
    <span [style]="'position: absolute; top: 10.5cm; left: 2.5cm'">{{description}}</span>
    
    <span [style]="groupStyle">X</span>
    <span [style]="categoryStyle">X</span>
    


    <!--
    <span style="position: absolute; top: 4.8cm; left: 16cm">{{other}}</span>
    <span style="position: absolute; top: 5.7cm; left: 4cm">{{no}}</span>
    <span style="position: absolute; top: 5.7cm; left: 11.5cm">{{location}}</span>
    -->
</div>