<div class="container-fluid overflow-auto">
    <nav class="navbar navbar-light bg-light mt-2 mb-3">
        <div class="container-fluid">
            <span class="navbar-brand">ข้อมูลอะไหล่</span>
        </div>
    </nav>

    <div class="mt-3">
        <div class="d-flex">
            <div class="form-group">
                <label>หมวดงาน</label>
                <select class="form-select" [(ngModel)]="groupRef" (ngModelChange)="changeGroup()">
                    <option [ngValue]="0">- เลือก -</option>
                    <option *ngFor="let opt of groups" [ngValue]="opt.id">{{opt.name}}</option>
                </select>
            </div>

            <div class="form-group ps-1">
                <label>อุปกรณ์/เครื่องจักร</label>
                <select class="form-select" [(ngModel)]="equipmentRef" (ngModelChange)="changeEquioment()">
                    <option [ngValue]="0">- เลือก -</option>
                    <option *ngFor="let opt of equipments" [ngValue]="opt.id">{{opt.name}}</option>
                </select>
            </div>

        </div>

        <div class="mt-2">
            <table id="part-table" class="table table-hover">
                <caption></caption>

                <thead>
                    <tr>
                        <th *ngFor="let header of dataTable.headerRow">{{header}}</th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th *ngFor="let footer of dataTable.footerRow">{{footer}}</th>
                    </tr>
                </tfoot>

                <tbody>
                    <tr *ngFor="let row of dataTable.dataRows"></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="part-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">เพิ่มอะไหล่</h5>
      </div>

      <div class="modal-body">
        <div class="d-flex flex-shrink">
            <div class="form-group p-1">
                <label>หมวดงาน</label>
                <select class="form-select" [(ngModel)]="groupRef" (ngModelChange)="changeGroup()">
                    <option [ngValue]="0">- เลือก -</option>
                    <option *ngFor="let opt of groups" [ngValue]="opt.id">{{opt.name}}</option>
                </select>
            </div>

            <div class="form-group p-1">
                <label>ชื่ออุปกรณ์/เครื่องจักร</label>
                <select class="form-select" [(ngModel)]="equipmentRef">
                    <option [ngValue]="0">- เลือก -</option>
                    <option *ngFor="let opt of equipments" [ngValue]="opt.id">{{opt.name}}</option>
                </select>
            </div>
        </div>

        <div class="d-flex flex-shrink">
            <div class="form-group p-1" style="width: 8em">
                <label>รหัสอะไหล่</label>
                <input type="text" class="form-control" [(ngModel)]="partProfile.code">
            </div>

            <div class="form-group p-1">
                <label>ชื่ออะไหล่</label>
                <input type="text" class="form-control" [(ngModel)]="partProfile.name">
            </div>
        </div>

        <div class="d-flex flex-shrink">
            <div class="form-group p-1" style="width: 8em">
                <label>หน่วย</label>
                <input type="text" class="form-control" [(ngModel)]="partProfile.unit">
            </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="save()" >บันทึก</button>
        <button type="button" class="btn btn-secondary" (click)="close()">ออก</button>
      </div>
    </div>
  </div>
</div>